body{
    background: url("images/background.png") no-repeat center fixed;     
    background-size: cover;
}
strong {
    font-size: large;
    font-weight: bold;
    font-style:italic;
}
.container {
    text-align: center;
}
.container h1{
    margin: auto;
    width: 50%;
    border: 3px solid black; 
}
.container h2{
    margin-top: 0em;
}
a{
    color:black;
    text-decoration-line:none;
}
a:hover{
    background-color:rgba(209, 179, 139, 100%);
}
.topics{
    background-color:rgba(209, 179, 139, 50%);
    border: 2px black solid;
}
#about-me{
    float:left;
    margin-left: 20%;
}
#contact-me{
    float:right;
    margin-right: 20%;
}
#about {
    border: 3px black solid;
    padding: 10px;
    margin: 5% 20%;
    background-color: rgba(209, 179, 139, 50%);
    text-align:center;
}
#work
{
    border: 3px black solid;
    padding: 10px;
    margin: 5% 20%;
    background-color: rgba(209, 179, 139, 50%);
    text-align:center;
}
#contact{
    border: 3px black solid;
    padding: 10px;
    margin: 5% 20%;
    background-color: rgba(209, 179, 139, 50%);
    text-align:center;
}


